@model BOL_Business_Object_Layer_.StudentModel.Student

@{
    ViewData["Title"] = "Edit";
}

<div class="container bg-primary bg-opacity-50 text-white text-center p-2 fs-4 rounded-3 w-50">
    <h1>Update Employee Details</h1>
</div>
<div class="container border border-primary rounded-3 mt-2 mb-3 p-4 fs-5 w-50">
    <form class="row g-3" asp-controller="Student" asp-action="Edit" method="post">
        <div>
            <input type="hidden" asp-for="id" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="contact" class="control-label"></label>
            <input asp-for="contact" class="form-control" />
            <span asp-validation-for="contact" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="gender" class="control-label"></label>
            <input asp-for="gender" class="form-control" />
            <span asp-validation-for="gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="standard" class="control-label"></label>
            <input asp-for="standard" class="form-control" />
            <span asp-validation-for="standard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="container w-50">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
